<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471133774716-qq22d1m930nu6qa111lb93ldtao2jeca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471133774716-qq22d1m930nu6qa111lb93ldtao2jeca</string>
	<key>API_KEY</key>
	<string>AIzaSyC0ijuFTVyVAd1kCVkBr49nvU_ExLI-ssg</string>
	<key>GCM_SENDER_ID</key>
	<string>471133774716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loyaltyapp</string>
	<key>PROJECT_ID</key>
	<string>loyalty-app-ee76e</string>
	<key>STORAGE_BUCKET</key>
	<string>loyalty-app-ee76e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471133774716:ios:a365a450f2dcc826a73af9</string>
</dict>
</plist>